
@{
    ViewBag.Title = "SessionWissen";
}

<div class="jumbotron">
    <h1>Sessionstate</h1>
    <p class="lead">Sessionvariabele werd gewist.</p>
    <p>
        <a href="~/Home/Index"
           class="btn btn-primary btn-lg">Terug naar indexpagina &raquo;</a>
    </p>
</div>

